#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: $primary-color;

    .contact-header {
        text-align: center;
        max-width: 900px;
    
        h1 {
            color: #fff;
        }
            
        p {
            font-size: 25px;
            font-weight: 300;
        }
    }    

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .contact-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            
            i {
                font-size: 35px;
                margin-right: 15px;
            }
            
        }
        .comments {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;


            input,
            textarea {
                width: 100%;
                padding: 15px;
                text-transform: uppercase;
                background-color: $primary-color;
                color: #fff;
                border: 1px solid #fff;
                margin-top: 10px;
                outline: none;

                
            }

            textarea {
                height: 150px;
            }

            ::-webkit-input-placeholder {
                color: #fff;
            }
            .btn-form {
                width: 150px;
                margin-top: 20px;
                padding: 5px 15px;
                text-transform: uppercase;
                font-size: 16px;
                margin-left: auto;
                margin-right: auto;
            } 
        }

        @media all and (min-width: $medium) {
            
            
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 50px;
            
            .items {
                flex-basis: 30%;

              
                p {
                    font-size: 18px;
                }

                i {
                    font-size: 25px;
                }
            }

            .comments {
                flex-basis: 50%;

                input,
                textarea {
                border: none;
                border-bottom: 1px solid #fff;
                margin-top: 10px;
                outline: none;
                }

                textarea {
                    height: 100px;
                }

                .btn-form {
                    padding: 15px 40px;
                    margin-left: 0;
                    width: auto;
                }
            }
        }
    }
}