#footer {
    text-align: center;
    margin-top: 50px;

    img {
        width: 116px;
        height: 100px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    p {
        margin: 50px 0;
    }

    .bottom-menu {  
        color: $secondary-color;
        
        .bottom-menu-item {
            display: inline-block;
            font-size: 22px;
            text-transform: uppercase;
            padding: 0px 40px;
            font-weight: 400;
            color: $secondary-color;

            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        } 
    }
}