%btn {
    border-radius: 30px;
    border: none;
    padding: 15px 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 21px;

    @media (min-width: $medium) {
        font-size: 13px;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;

    &:hover {
        background-color: $button-color;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $button-color;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-form {
    @extend %btn;
    background-color: #fff;
    color: $secondary-color;
    transition: all .3s;

    &:hover {
        background-color: $secondary-color;
        color: #fff;
        
    }
}
